In [ ]:
import pandas as pd

url = "https://raw.githubusercontent.com/IBM/telco-customer-churn-on-icp4d/master/data/Telco-Customer-Churn.csv"
df = pd.read_csv(url)
df.head()
df.info()
df.describe(include='all')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   gender            7043 non-null   object
 2   SeniorCitizen     7043 non-null   int64
 3   Partner           7043 non-null   object
 4   Dependents        7043 non-null   object
 5   tenure            7043 non-null   int64
 6   PhoneService      7043 non-null   object
 7   MultipleLines     7043 non-null   object
 8   InternetService   7043 non-null   object
 9   OnlineSecurity    7043 non-null   object
 10  OnlineBackup      7043 non-null   object
 11  DeviceProtection  7043 non-null   object
 12  TechSupport       7043 non-null   object
 13  StreamingTV       7043 non-null   object
 14  StreamingMovies   7043 non-null   object
 15  Contract          7043 non-null   object
 16  PaperlessBilling  7043 non-null   object
 17  PaymentMethod     7043 non-null   object
 18  MonthlyCharges    7043 non-null   float64
 19  TotalCharges      7043 non-null   object
 20  Churn             7043 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.1+ MB

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
count,7043,7043,7043.000000,7043,7043,7043.000000,7043,7043,7043,7043,...,7043,7043,7043,7043,7043,7043,7043,7043.000000,7043,7043
unique,7043,2,NaN,2,2,NaN,2,3,3,3,...,3,3,3,3,3,2,4,NaN,6531,2
top,3186-AJIEK,Male,NaN,No,No,NaN,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,NaN,20.2,No
freq,1,3555,NaN,3641,4933,NaN,6361,3390,3096,3498,...,3095,3473,2810,2785,3875,4171,2365,NaN,11,5174
mean,NaN,NaN,0.162147,NaN,NaN,32.371149,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,64.761692,NaN,NaN
std,NaN,NaN,0.368612,NaN,NaN,24.559481,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30.090047,NaN,NaN
min,NaN,NaN,0.000000,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18.250000,NaN,NaN
25%,NaN,NaN,0.000000,NaN,NaN,9.000000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35.500000,NaN,NaN
50%,NaN,NaN,0.000000,NaN,NaN,29.000000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,70.350000,NaN,NaN
75%,NaN,NaN,0.000000,NaN,NaN,55.000000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,89.850000,NaN,NaN
max,NaN,NaN,1.000000,NaN,NaN,72.000000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,118.750000,NaN,NaN

In [5]:
import pandas as pd
import numpy as np

pd.set_option('display.max_columns', None)
pd.set_option('display.width', 120)

In [6]:
url = "https://raw.githubusercontent.com/IBM/telco-customer-churn-on-icp4d/master/data/Telco-Customer-Churn.csv"
df = pd.read_csv(url)
df.shape

(7043, 21)

In [7]:
# Missing counts and percent
missing = df.isnull().sum().sort_values(ascending=False)
missing_pct = (df.isnull().mean()*100).sort_values(ascending=False)
pd.concat([missing, missing_pct], axis=1, keys=['missing','pct']).head(20)

                  missing  pct
customerID              0  0.0
gender                  0  0.0
SeniorCitizen           0  0.0
Partner                 0  0.0
Dependents              0  0.0
tenure                  0  0.0
PhoneService            0  0.0
MultipleLines           0  0.0
InternetService         0  0.0
OnlineSecurity          0  0.0
OnlineBackup            0  0.0
DeviceProtection        0  0.0
TechSupport             0  0.0
StreamingTV             0  0.0
StreamingMovies         0  0.0
Contract                0  0.0
PaperlessBilling        0  0.0
PaymentMethod           0  0.0
MonthlyCharges          0  0.0
TotalCharges            0  0.0

In [8]:
# Example repair for TotalCharges (string -> numeric), then fill
df['TotalCharges'] = pd.to_numeric(df['TotalCharges'], errors='coerce')
print("Missing before fill:", df['TotalCharges'].isnull().sum())
df['TotalCharges'].fillna(df['TotalCharges'].median(), inplace=True)
print("Missing after fill:", df['TotalCharges'].isnull().sum())

Missing before fill: 11
Missing after fill: 0

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_13972\1796717359.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['TotalCharges'].fillna(df['TotalCharges'].median(), inplace=True)

In [9]:
# Identify categorical columns and cardinality
cat_cols = df.select_dtypes(include=['object']).columns.tolist()
card = {c: df[c].nunique() for c in cat_cols}
card

{'customerID': 7043,
 'gender': 2,
 'Partner': 2,
 'Dependents': 2,
 'PhoneService': 2,
 'MultipleLines': 3,
 'InternetService': 3,
 'OnlineSecurity': 3,
 'OnlineBackup': 3,
 'DeviceProtection': 3,
 'TechSupport': 3,
 'StreamingTV': 3,
 'StreamingMovies': 3,
 'Contract': 3,
 'PaperlessBilling': 2,
 'PaymentMethod': 4,
 'Churn': 2}

In [10]:
# Example: drop customerID and encode obvious low-cardinality cols
df = df.drop(columns=['customerID'])
low_card_cols = [c for c, n in card.items() if n <= 6 and c!='customerID']
df = pd.get_dummies(df, columns=low_card_cols, drop_first=True)
# For remaining object columns with >6 categories, encode with simple label encoding for now
from sklearn.preprocessing import OrdinalEncoder
high_card_cols = [c for c in df.select_dtypes(include=['object']).columns.tolist()]
if high_card_cols:
    oe = OrdinalEncoder()
    df[high_card_cols] = oe.fit_transform(df[high_card_cols])
    
df.shape

(7043, 31)

In [11]:
# Tenure group buckets + AvgMonthlyCharge
df['TenureGroup'] = pd.cut(df['tenure'], bins=[-1, 12, 24, 48, 72], labels=['0-12','12-24','24-48','48-72'])
df['AvgMonthlyCharge'] = df['TotalCharges'] / (df['tenure'] + 1)    # +1 to avoid div0

# Show value counts and basic stats
print(df['TenureGroup'].value_counts())
df[['AvgMonthlyCharge','MonthlyCharges']].describe().T

TenureGroup
48-72    2239
0-12     2186
24-48    1594
12-24    1024
Name: count, dtype: int64

                   count       mean        std        min        25%    50%        75%       max
AvgMonthlyCharge  7043.0  61.173413  61.019723   9.183333  26.274411  61.15  84.940047  1397.475
MonthlyCharges    7043.0  64.761692  30.090047  18.250000  35.500000  70.35  89.850000   118.750

In [12]:
agg = df.groupby('TenureGroup').agg({
    'AvgMonthlyCharge':'mean',
    'MonthlyCharges':'median',
    # if Churn exists as numeric after encoding, use mean; else decode original before drop
})
agg

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_13972\2989644274.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  agg = df.groupby('TenureGroup').agg({

             AvgMonthlyCharge  MonthlyCharges
TenureGroup
0-12                48.646723            55.9
12-24               58.022907            66.4
24-48               64.038558            72.9
48-72               72.804687            82.5

In [13]:
from sklearn.base import BaseEstimator, TransformerMixin

def load_and_preprocess(url):
    df = pd.read_csv(url)
    df['TotalCharges'] = pd.to_numeric(df['TotalCharges'], errors='coerce')
    df['TotalCharges'].fillna(df['TotalCharges'].median(), inplace=True)
    df = df.drop(columns=['customerID'])
    low_card_cols = [c for c in df.select_dtypes(include=['object']).columns.tolist() if df[c].nunique() <= 6]
    df = pd.get_dummies(df, columns=low_card_cols, drop_first=True)
    # encode remaining object columns if any
    rem_obj = df.select_dtypes(include=['object']).columns.tolist()
    if rem_obj:
        from sklearn.preprocessing import OrdinalEncoder
        oe = OrdinalEncoder()
        df[rem_obj] = oe.fit_transform(df[rem_obj])
    df['TenureGroup'] = pd.cut(df['tenure'], bins=[-1,12,24,48,72], labels=['0-12','12-24','24-48','48-72'])
    df['AvgMonthlyCharge'] = df['TotalCharges'] / (df['tenure'] + 1)
    return df

clean_df = load_and_preprocess(url)
clean_df.shape

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_13972\3715312223.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['TotalCharges'].fillna(df['TotalCharges'].median(), inplace=True)

(7043, 33)